/* app */
body{
    background-color: #f4f4f4;
    font-family: Helvetica, sans-serif;
}
h3 {
    
    background-color: #ffffff;
    
}
.page{
    display:flex;
    justify-content: space-between;
}
/* header */
.header {
    margin-left: 10%;
    margin-right: 10%;
    margin-top:5%;
    font-family: Helvetica, sans-serif;
    font-size: 18px;  
    max-width: 200px; 
    position:sticky;
    float:left;
}
.ale-title {
    font-size: 32px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    filter: blur(2px);
    margin-bottom:5px;
}
.ale-title:hover{
    color:rgb(63, 101, 205);
}
.subhead {
    max-width: 220px;
    font-size:13px;
    font-weight: normal;
    padding:10px;
    border:2px solid black;
}
.ale-links {
    color:black;
    margin-top: 50px;
    display:flex;
    flex-direction:column;
    padding:5px;
    line-height:25px;

}
.ale-links a {
    text-decoration: none;
    color: inherit;
    
}
.ale-links a:hover{
    text-decoration:none;
    text-decoration-color: rgb(63, 101, 205);
    color:rgb(63, 101, 205);
    filter:blur(2px);
}
@media (max-width:850px){
    .ale-links{
    display:flex;
    flex-direction:row;}
}

/* frontpage */ 
.container{
    width:500px;
    height:95vh;
    
    /* margin-left: 10%;
    margin-top: 1%; */
    overflow-y:scroll;
    overflow-x:hidden;
    display:flex;
    border:10px solid black;
    background-color: rgb(197, 198, 235);
    /* position:relative; */
    
    
}
/* PostList */
.pp{
    background-color:white;
    border-style:double;
    position:center;
    padding:10px;
    margin-bottom:10px;
    margin-top:10px;
    margin-left:37px;
    max-width:400px;
}

/*about*/
.abouttitle{
    color:rgb(63, 101, 205);
}
.aboutPage{
    max-width:500px;
    display:flex;
    flex-direction:column;
}
.aboutContainer{
    width:400px;
    padding:10px;
}
.aboutText{
    border:2px solid black;
    padding:10px;
}

/*lightbox*/
.image-card {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    margin: 3px;
} 
  #lightbox-img {
    height: 80vh;
    max-width: 90vw;
    object-fit: cover;
} 
  #lightbox {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
 
.wNaviContainer{
    width: 800px;
    padding:10px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    border: 1px solid red;
    
}
.wNaviContainer img {
    width:400px;
}
.wNaviContainer a:hover{
filter:saturate(1);
}
.naviCover{
    object-fit: cover;

}

