body{
    background-color: #f4f4f4;
}
header {
    margin-left: 10%;
    margin-right: 10%;
    margin-top:5%;
    font-family: Helvetica, sans-serif;
    font-size: 18px;  
    max-width: 220px; 
    background-color: blue;
}

.ale-title {
    font-size: 32px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    filter: blur(2px);
    margin-bottom:5px;
}
.ale-title:hover{
    color:rgb(63, 101, 205);
}

.subhead {
    max-width: 220px;
    font-size:13px;
    font-weight: normal;
    padding:10px;
    border:2px solid black;
}
.ale-links {
    color:black;
    margin-top: 50px;
    display:flex;
    flex-direction:column;
    padding:5px;
    line-height:25px;

}

a {
    text-decoration: none;
    color: inherit;
    
}
a:hover{
    text-decoration:none;
    text-decoration-color: rgb(63, 101, 205);
    color:rgb(63, 101, 205);
    filter:blur(2px);
}
.container{
    width:720px;
    height:500px;
    
    display:flex;
    flex-direction: row;
    
    background-color: aqua;
    position:relative;
    
}
.postTitle{
    font-weight: bold;

}
img{
    max-width:300px;
}

.PostList{
    background-color: red;
}